.booking-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  overflow: auto;
}
.booking-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #f7f7ed;
  border-radius: 2.5rem;
  width: 59rem;
  height: 36rem;
  z-index: 10;
  padding: 4.5rem;
}
.upper-content {
  display: flex;
  gap: 2.5rem;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 600;
}
.date-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.select-button,
.book-button {
  width: 6rem;
  height: 1.5rem;
  font-size: 12px;
  background-color: #53350b;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.select-button:hover,
.book-button:hover {
  background-color: #755c3b;
}
.line-1 {
  width: 50rem;
  height: 1px;
  background: rgba(83, 53, 11, 0.2);
}
.line-2 {
  width: 15rem;
  height: 1px;
  background: rgba(83, 53, 11, 0.2);
  margin-top: 0.5rem;
}
.lower-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  gap: 1rem;
}
.feature {
  display: flex;
  gap: 2rem;
}
.transfercode {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: rem;
}
