.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  padding: 9px 382px;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  background: linear-gradient(
    90deg,
    rgba(134, 165, 137, 0.5) 0%,
    rgba(87, 103, 140, 0.5) 100%
  );
  color: #f7f7ed;
}
