.booking-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  gap: 5rem;
}
.room-container {
  display: flex;
  width: 60rem;
  height: 38rem;
  padding: 1rem 2rem;
  color: #53350b;
  background: #f7f7ed;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.room-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}
.room-details {
  display: flex;
  border-radius: 5px;
  background: #e0e0e0;
  width: 18rem;
  gap: 2.8rem;
  padding: 0.5rem;
}
.room-detail {
  text-align: center;
}

.amenities-container {
  display: flex;
  padding: 0.5rem;
  gap: 3rem;
}

.amenity {
  text-align: center;
  font-size: 0.9rem;
}

.amenity img {
  width: 40px;
  height: 40px;
}

/*right side*/
.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3.7rem 0;
  gap: 1rem;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid rgba(83, 53, 11, 0.2);
  width: 30rem;
  height: 10rem;
  gap: 2.5rem;
}
.details-left {
  display: flex;
  flex-direction: column;
}
.pay-online {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem 1.5rem;
}
.price-info {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 1rem 1.5rem;
}
.cancellation {
  padding: 0.5rem 1rem;
}
.details-right {
  display: flex;
  margin-top: 4.5rem;
  gap: 1rem;
}
.price {
  font-size: 1.5rem;
  font-weight: bold;
}
.availability-button {
  padding: 0.5rem 1rem;
  font-size: 12px;
  background-color: #53350b;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.availability-button:hover {
  background-color: #755c3b;
}
.discount-info {
  font-size: 0.9rem;
  color: #755c3b;
  font-style: italic;
}
